body {
    background: rgb(118, 118, 125);
    font-family: Arial;
    }
    h1 {
    color: red;
    text-align: center;
    }
    h2 {
        color: green;
    }
    .projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
    .project {
    width: 50%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
    }
    .about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
    .about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
    .about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    }