body {
    align-items: center;
    text-align: center;
    background: #FF6B01;
    font-family: Arial;
    
    }
    h1 {
    color: #353535;
    text-align: center;
    }
    h2 {
        color: #FFFFFF;
    }
    .projects { display:flex; flex-wrap:wrap; } /* condensed to save space */
    .project {
    object-fit: contain;
    width: 50%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
    align-items: center;
    }
    .about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
    .about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
    .about img {
    align-items: center;
    max-width: 150px;
    max-height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
    object-fit: contain;
    }